body {
  font-family: "Mulish", sans-serif;
}
h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #24527a;
  margin-bottom: 0;
}
a {
  color: #f76b8a;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #5dacbd;
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  margin: 30px auto;
  max-width: 600px;
}
.weather-app {
  padding: 20px;
  border: 1px solid #5dacbd;
  border-radius: 10px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #24527a;
  font-size: 55px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -30px;
}
.weather-temperature .active {
  color: #5dacbd;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.btn {
  background: #f76b8a;
  border: #f76b8a;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: #24527a;
}
.weather-forecast-temps {
  font-size: 13px;
  color: #24527a;
}
.forecast-min-temp {
  opacity: 0.5;
}
.footer {
  color: #5dacbd;
  font-size: 16px;
  line-height: 19px;
}
