body {
  font-family: "Mulish", sans-serif;
}
h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #878787;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #878787;
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  margin: 30px auto;
  max-width: 600px;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #878787;
  font-size: 55px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -30px;
}
.weather-temperature .active {
  color: #878787;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.footer {
  color: #878787;
  font-size: 16px;
  line-height: 19px;
}
